{% extends "base_generic.html" %}

{% block content %}
  <h1>Mike Check Home</h1>
  <p>
    Welcome to MikeCheck, a website developed by
    <em>Mike</em>!
  </p>
<div class="row">
  <div class="col">
    <h2>Create New Game</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="verb" value="create">
      <label for="player">Player:</label>
      <input type="text" name="player" id="player" placeholder="Mike">
      <label for="mark">Mark:</label>
      <input type="text" name="mark" id="mark" placeholder="🎤">
      <button type="submit">Create Game</button>
  </div>
  <div class="col">
    <h2>Join Game</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="verb" value="join">
      <label for="player">Player:</label>
      <input type="text" name="player" id="player" placeholder="Mike">
      <label for="game">Join code:</label>
      <input type="text" name="game" id="game" placeholder="79eRMB">
      <button type="submit">Join Game</button>
    </form>
  </div>
</div>
{% endblock %}
